{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-unlogged">
        <h1 class="h3 mb-3 font-weight-normal title">Sign in!</h1>
        <div class="post-box login-box">
            <form action="/login" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <input placeholder="username" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control form-input" autocomplete="username" required autofocus>
                <input placeholder="password" type="password" name="password" id="inputPassword" class="form-control form-input" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >


                <button class="btn btn-lg btn-primary remove-style-btn large-btn" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>

{% endblock %}
