{% extends 'base.html.twig' %}

{% block title %}Post Details - {{ post.title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ post.title }} - Read this post by {{ targetUser.username }} and engage with the content.">
{% endblock %}

{% block body %}
    <div class="container">

        <article class="post-box" role="article" aria-labelledby="{{ post.title }}">

            <header class="user-post-bar" role="banner">
                <img class="profile-picture" src="{{ asset('img/profile.picture.jpeg') }}" alt="Profile picture of {{ targetUser.username }}">
                <div>
                    <p>{{ targetUser.username }}</p>
                    <p>Published on {{ post.createdAt|date("m/d/Y") }}</p>
                </div>
            </header>

            <h1 id="post-title-{{ post.id }}">
                <a href="{{ path('app_post_show', {'post': post.id, 'targetUser': targetUser.id}) }}">{{ post.title }}</a>
            </h1>
            <p>{{ post.content }}</p>

            <footer class="post-footer">

                <a href="{{ path('app_post_like', {'post': post.id, 'targetUser': targetUser.id, }) }}"><i class="fa-regular fa-heart"></i></a>

                {% for like in post.likes %}

                    {% if like.user.id is same as(app.user.id)%}
                        <a href="{{ path('app_post_unlike', {'post': post.id, 'targetUser': targetUser.id, }) }}"><i class="fa-solid fa-heart"></i></a>
                    {% endif %}

                {% endfor %}

                <button class="remove-style-btn" aria-label="{{ post.likes.count }} likes">{{ post.likes.count }} like(s)</button>

                {% if post.comments.count == 0 %}
                    <p>No comments</p>
                {% elseif post.comments.count == 1 %}
                    <button id="show-comment-button" class="remove-style-btn" data-post="{{ post.id }}" aria-label="View comment">View the comment</button>
                {% elseif post.comments.count > 1 %}
                    <button id="show-comment-button" class="remove-style-btn" data-post="{{ post.id }}" aria-label="View the {{ post.comments.count }} comments">View the {{ post.comments.count }} comments</button>
                {% endif %}

            </footer>

            <div class="comment-form">
                {{ form_start(form, {'action': path('app_post_comment', {'post' : post.id, 'targetUser' : targetUser.id})}) }}
                {{ form_end(form) }}
            </div>

            <div id="commentModale"></div>

        </article>

        <nav role="navigation">
            {% include 'components/navbar.html.twig' %}
        </nav>
    </div>
{% endblock %}
