{% extends 'base.html.twig' %}

{% block body %}
{#    {% for post in posts|reverse %}#}

            <div class="post-box">

                <div class="user-post-bar">

                    <img class="profile-picture" src="{{ asset('img/profile.picture.jpeg') }}" alt="">
                    <div>
                        <p>
                            <a href="{{ path('app_user_profile', {'targetUser' : post.user.id}) }}">
                                {{ post.user.username }}
                            </a>
                        </p>
                        <p>publié le {{ post.createdAt|date("m/d/Y") }}</p>
                    </div>

                    {% if post.user.id is same as app.user.id  %}
                        <a class="delete-btn" href="{{ path('app_post_delete', {'post' : post.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                    {% endif %}
                </div>


                <div class="post-content">
                    <h3>
                        <a href="{{ path('app_post_show', {'post': post.id, 'targetUser': targetUser.id}) }}">{{ post.title }}</a>
                    </h3>
                    <p>{{ post.content }}</p>
                </div>



                <div class="post-footer">

                    {% if isLiked[post.id] == false %}
                        <a href="{{ path('app_post_like', {'post': post.id, 'targetUser': targetUser.id, }) }}"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}

                    {% if isLiked[post.id] == true %}
                        <a class="liked" href="{{ path('app_post_unlike', {'post': post.id, 'targetUser': targetUser.id, }) }}"><i class="fa-solid fa-heart"></i></a>

                    {% endif %}



                    <button class="remove-style-btn">{{ post.likes.count }} like(s)</button>


                    {% if post.comments.count == 0 %}
                        <p>Aucun commentaire</p>
                    {% elseif post.comments.count == 1 %}
                        <button id="show-comment-button" class="remove-style-btn" data-post="{{ post.id }}">Voir le commentaire</button>
                    {% elseif post.comments.count > 1 %}
                        <button id="show-comment-button" class="remove-style-btn" data-post="{{ post.id }}">Voir les {{ post.comments.count }} commentaires</button>
                    {% endif %}

                </div>



                            <div class="comment-form">
                                {% include '/post/comment.html.twig' %}
                            </div>


                <div class="" id="commentModale"></div>

            </div>
{#    {% endfor %}#}
{% endblock %}


