{#{% extends 'base.html.twig' %}#}

{#{% block title %}Hello PostController!{% endblock %}#}

{#{% block body %}#}

{#    <div class="post-box">#}

{#        <p>{{ targetUser.username }}</p>#}
{#        <img class="profile-picture" src="{{ asset('img/profile.picture.jpeg') }}" alt="">#}
{#        <h3>{{ post.title }}</h3>#}
{#        <p>{{ post.content }}</p>#}

{#        <a href="{{ path('app_post_like', {'post': post.id, 'targetUser': targetUser.id, }) }}">Like this post</a>#}

{#        {% for like in post.likes %}#}

{#            {% if like.user.id is same as(app.user.id)%}#}
{#                <a href="{{ path('app_post_unlike', {'post': post.id, 'targetUser': targetUser.id, }) }}">Unlike this post</a>#}
{#            {% endif %}#}

{#        {% endfor %}#}





{#        <p>this post has {{ post.likes.count }} like(s)</p>#}

{#        <a href="{{ path('app_post_comment', {'post' : post.id, 'targetUser' : targetUser.id}) }}">show comments</a>#}


{#        #}{#        <a href="{{ path('app_post_new_comment', {'post': post.id, 'targetUser': targetUser.id}) }}">Comment this post</a>#}

{#        <p>Comments: </p>#}

{#        {{ form_start(form, {'action': path('app_post_new_comment', {'post' : post.id, 'targetUser' : targetUser.id})}) }}#}
{#        {{ form_end(form) }}#}

{#        {% for comment in post.comments %}#}
{#            <ul>#}
{#                <li>#}
{#                    <p>By {{ comment.user.username }}</p>#}
{#                    <p>{{ comment.content }}</p>#}
{#                </li>#}
{#            </ul>#}
{#        {% endfor %}#}

{#    </div>#}


{#    {% include 'components/navbar.html.twig' %}#}


{#{% endblock %}#}





{% extends 'base.html.twig' %}

{% block body %}

        <div class="post-box">

            <div class="user-post-bar">
                <img class="profile-picture" src="{{ asset('img/profile.picture.jpeg') }}" alt="">
                <div>
                    <p>{{ targetUser.username }}</p>
                    <p>publié le {{ post.createdAt|date("m/d/Y") }}</p>
                </div>
            </div>


            <h1>
                <a href="{{ path('app_post_show', {'post': post.id, 'targetUser': targetUser.id}) }}">{{ post.title }}</a>
            </h1>
            <p>{{ post.content }}</p>











            <div class="post-footer">

                <a href="{{ path('app_post_like', {'post': post.id, 'targetUser': targetUser.id, }) }}"><i class="fa-regular fa-heart"></i></a>

                {% for like in post.likes %}

                    {% if like.user.id is same as(app.user.id)%}
                        <a href="{{ path('app_post_unlike', {'post': post.id, 'targetUser': targetUser.id, }) }}"><i class="fa-solid fa-heart"></i></a>
                    {% endif %}

                {% endfor %}



                <button class="remove-style-btn">{{ post.likes.count }} like(s)</button>


                {% if post.comments.count == 0 %}
                    <p>Aucun commentaire</p>
                {% elseif post.comments.count == 1 %}
                    <button id="show-comment-button" class="remove-style-btn" data-post="{{ post.id }}">Voir le commentaire</button>
                {% elseif post.comments.count > 1 %}
                    <button id="show-comment-button" class="remove-style-btn" data-post="{{ post.id }}">Voir les {{ post.comments.count }} commentaires</button>
                {% endif %}





                {#                <a href="{{ path('app_post_comment', {'post' : post.id, 'targetUser' : targetUser.id}) }}">show comments</a>#}

            </div>

            <div class="comment-form">


{#                {% include '/post/comment.html.twig' %}#}

                {{ form_start(form, {'action': path('app_post_comment', {'post' : post.id, 'targetUser' : targetUser.id})}) }}
                {{ form_end(form) }}

            </div>


            <div id="commentModale"></div>

        </div>

    {% include 'components/navbar.html.twig' %}
{% endblock %}


