{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="title">{{ targetUser.username }}</h1>

        <div class="user-bar">
            <img class="profile-picture" src="{{ asset('img/profile.picture.jpeg') }}" alt="">
                <a href="{{ path('app_followers', {'targetUser' : targetUser.id}) }}">
                    <p>Followers </p>
                    <p>{{ followers|length }}</p>
                </a>
                <a href="{{ path('app_followings', {'targetUser' : targetUser.id}) }}">
                    <p>Following </p>
                    <p>{{ followings|length }}</p>
                </a>
                <a href="">
                    <p>Posts</p>
                    <p>{{ posts|length }}</p>
                </a>


            {% if targetUser.id is not same as app.user.id %}
                {% if isFollowing == false %}
                    <a class="large-btn" href="{{ path('app_follow', {'targetUser': targetUser.id }) }}">follow</a>
                {% endif %}

                {% if isFollowing == true %}
                    <a class="large-btn" href="{{ path('app_unfollow', {'targetUser': targetUser.id }) }}">unfollow</a>
                {% endif %}
            {% else%}
                <a class="large-btn" href="">Your profile</a>
            {% endif %}



        </div>

        {% if posts is empty %}
            <div class="post-box blank">
                <p>No posts</p>
            </div>
        {% endif %}

        {% for post in posts|reverse %}
            {% include '/post/index.html.twig' %}
        {% endfor %}



    </div>

        {% include 'components/navbar.html.twig' %}

{% endblock %}
